@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*Barre de Navigation, tout le groupe en premier
puis EDOUARD Adèle, puis les liens, et un hover*/
.menu {
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    justify-content: space-between; /* Ajout de cette ligne pour séparer les éléments à gauche et à droite */
}

h1 {
    font-size:20px;
    margin:7px;
}

.Navigation a {
    float: left;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.Navigation a:hover {
    background-color: #ede1f7;
    color: black;
}

.bar{
    display:none;
}

/*Partie Responsive 2eme menu*/

.menuresp {
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    flex-direction: column; /* Affiche les éléments en colonne */
    align-items: flex-start; /* Aligner les éléments à gauche */
    display:none;

}

.Navigationresp {
    text-decoration:none;
    font-size: 17px;
    color: white;
}


@media (max-width: 767px) {
    .Navigation a {
        display: none;
    }

    .icon {
        margin-left: auto;
        display: block;
        width: 44px;
        cursor:pointer;
    }

    .bar{
        display:block;
    }
}

/*Image*/
.pfp {
    width: 15%;
    border-radius: 50%;
    display: block;
    margin: auto;
    /* Centrer l'image horizontalement */
    margin-top: 15px;
}

@media (max-width: 767px) {
    .pfp {
        width: 35%;
    }
}

/*Edito*/
.edito {
    background-color: #E0C3FC;
    text-align: center;
}

/*Le Caroussel*/
.CarouselEntier {
    width: 100%;
    height: 300px;
    position: relative;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nextBtn,
.prevBtn {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.nextBtn {
    right: 10px;
}

.prevBtn {
    left: 10px;
}

/*Box Projet*/
.Boites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.box {
    width: 20%;
    margin: 10px;
    padding: 20px;
    background-color: rgb(242, 232, 248);
    text-align: center;
}

@media (max-width: 767px) {
    .box {
        width: 80%;
    }
}

/*Formulaire*/
input{
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 70%;
    margin-left:170px;
}

.formbutton {
    padding: 12px;
    font-size: 15px;
    background-color: #b5b1fe;
    color: white;
    border-radius: 3px;
    border:none;
    cursor:pointer;
    margin-left:1036px;
}

textarea{
    padding:9px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 70%;
    margin-left:170px;
    height:150px;
}

.Formulaire {
    box-shadow: 0 0 10px rgba(16, 34, 232, 0.304);
    width: 95%;
    margin: auto;
    background-color: rgba(16, 34, 232, 0.041);
}

form {
    margin-left: 20px;
}

@media (max-width: 767px) {
    .Formulaire {
        width: 90%;
    }

    input {
        width: 53%;
        margin-left:20px;
    }

    textarea{
        width:53%;
        margin-left:20px;
    }

    .formbutton{
        margin-left:245px;
    }
}

label {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}


/*Footer*/
footer {
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 20px;
}