/* Réinitialiser les marges pour tous les éléments */
* {
    margin: 0;
}

/** Menu du Header **/
body {
    margin: 0; /* Éviter les marges par défaut du corps de la page */
    font-family: Arial, Helvetica, sans-serif; /* Utiliser la police Arial par défaut */
}

/* Style du titre h1 dans le Header */
h1 {
    color: white; /* Couleur du texte blanc */
    padding: 10px; /* Espacement intérieur de 10 pixels autour du titre */
}

/* Barre de navigation principale, cest a dire EDOUARD Adele + 4 elements */
.topnav {
    background-color: #8EC5FC; /* Couleur de fond de la barre de navigation */
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); /* Dégradé de couleurs en arrière-plan */
    display: flex; /* Utilise le modèle de boîte flexible, si on enlève EDOUARD Adèle à gauche, 
    et 4 éléments en dessous à gauche, flex pour la grose boite avec les deu xsections*/
    justify-content: space-between; /* Espace équitablement les 4 éléments et EA */
}

/* Style du menu dans la barre de navigation */
.menu {
    display:flex;/*Menu c'est à dire les 4 elements à droite*/
}

/* Style de la section du titre */
.title {
    display: flex; /* Utilise le modèle de boîte flexible */
}

/* Style des liens du menu */
.topnav a {
    display: flex; /* Utilise le modèle de boîte flexible */
    color: #f2f2f2; /* Couleur du texte des liens du menu */
    padding: 14px 16px; /* Espacement intérieur des liens du menu */
    text-decoration: none; /* Supprime le soulignement des liens */
    font-size: 17px; /* Taille de la police des liens du menu */
}

/* Effet de survol sur les liens du menu */
.topnav a:hover {
    background-color: #ddd; /* Couleur de fond au survol des liens */
    color: black; /* Couleur du texte au survol des liens */
}

/** Image du Header **/
.pfp {
    width: 15%; /* Largeur de l'image de profil */
    border-radius: 50%; /* Forme de bordure pour un cercle */
    display: block;
    margin: auto; /* Centrer l'image horizontalement */
    margin-top: 10px; /* Espacement en haut de l'image */
}

/** Slideshow **/
* {
    box-sizing: border-box;
}

/* Style de base pour le corps de la page */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

/* Style des diapositives du diaporama */
.mySlides {
    display: none; /* Cacher initialement les diapositives */
}

/* Style de l'image dans le diaporama */
img {
    vertical-align: middle;
}

/* Conteneur du diaporama */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Styles des boutons de navigation du diaporama */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-size: cover;
}

/* Position du bouton "next" à droite */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Effet de survol sur les boutons de navigation */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Style du texte de légende */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Style du texte de numéro (1/3, etc.) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Styles des points/bullets/indicateurs */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Style de l'indicateur actif ou survolé */
.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/* Sur les écrans plus petits, diminuer la taille du texte */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

/** Boite Projets **/
main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

/* Style des articles de projet */
article {
    background-color: rgb(249, 239, 255);
    margin: 20px;
    padding: 20px;
    border-radius: 2%;
}

/** Footer **/
footer {
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 20px;
}
